[submodule "ComfyUI"]
	path = ComfyUI
	url = https://github.com/Comfy-Org/ComfyUI.git
	branch = dev
[submodule "ComfyUI-FallingTS"]
	path = ComfyUI-FallingTS
	url = https://github.com/falling-ts/ComfyUI-FallingTS.git
	branch = main
[submodule "ComfyUI-KJNodes"]
	path = ComfyUI-KJNodes
	url = https://github.com/kijai/ComfyUI-KJNodes.git
	branch = main
[submodule "ComfyUI-GGUF"]
	path = ComfyUI-GGUF
	url = https://github.com/city96/ComfyUI-GGUF.git
	branch = main
[submodule "ComfyUI_UltimateSDUpscale"]
	path = ComfyUI_UltimateSDUpscale
	url = https://github.com/ssitu/ComfyUI_UltimateSDUpscale.git
	branch = main
[submodule "ComfyUI-Docs"]
	path = ComfyUI-Docs
	url = https://github.com/Comfy-Org/docs.git
	branch = main
