[submodule "ComfyUI"]
	path = ComfyUI
	url = https://github.com/Comfy-Org/ComfyUI.git
	branch = master
[submodule "ComfyUI-FallingTS"]
	path = custom_nodes/ComfyUI-FallingTS
	url = https://github.com/falling-ts/ComfyUI-FallingTS.git
	branch = main
[submodule "ComfyUI-KJNodes"]
	path = custom_nodes/ComfyUI-KJNodes
	url = https://github.com/kijai/ComfyUI-KJNodes.git
	branch = main
[submodule "ComfyUI-GGUF"]
	path = custom_nodes/ComfyUI-GGUF
	url = https://github.com/city96/ComfyUI-GGUF.git
	branch = main
[submodule "ComfyUI_UltimateSDUpscale"]
	path = custom_nodes/ComfyUI_UltimateSDUpscale
	url = https://github.com/ssitu/ComfyUI_UltimateSDUpscale.git
	branch = main
[submodule "ComfyUI-Docs"]
	path = docs/ComfyUI-Docs
	url = https://github.com/Comfy-Org/docs.git
	branch = main
[submodule "ComfyUI-ReservedVRAM"]
	path = custom_nodes/ComfyUI-ReservedVRAM
	url = https://github.com/Windecay/ComfyUI-ReservedVRAM.git
	branch = main
[submodule "ComfyUI-SolAttn_triton"]
	path = custom_nodes/ComfyUI-SolAttn_triton
	url = https://github.com/kijai/ComfyUI-SolAttn_triton.git
	branch = main
[submodule "ComfyUI-Spectrum-MiniMax-H3"]
	path = custom_nodes/ComfyUI-Spectrum-MiniMax-H3
	url = https://github.com/xmarre/ComfyUI-Spectrum-MiniMax-H3.git
	branch = main
[submodule "minimax-h3-guide"]
	path = h3/minimax-h3-guide
	url = https://github.com/juemin4-source/minimax-h3-guide.git
	branch = main
[submodule "ComfyUI-Qwen3-TTS"]
	path = custom_nodes/ComfyUI-Qwen3-TTS
	url = https://github.com/wanaigc/ComfyUI-Qwen3-TTS.git
	branch = main
[submodule "MiniMax-H3"]
	path = h3/MiniMax-H3
	url = https://github.com/MiniMax-AI/MiniMax-H3.git
	branch = main
[submodule "ComfyUI-Impact-Pack"]
	path = custom_nodes/ComfyUI-Impact-Pack
	url = https://github.com/ltdrdata/ComfyUI-Impact-Pack.git
[submodule "ComfyUI_LayerStyle"]
	path = custom_nodes/ComfyUI_LayerStyle
	url = https://github.com/chflame163/ComfyUI_LayerStyle.git
[submodule "ComfyUI-SeedVR2_VideoUpscaler"]
	path = custom_nodes/ComfyUI-SeedVR2_VideoUpscaler
	url = https://github.com/numz/ComfyUI-SeedVR2_VideoUpscaler.git
[submodule "ComfyUI-Easy-Use"]
	path = custom_nodes/ComfyUI-Easy-Use
	url = https://github.com/yolain/ComfyUI-Easy-Use.git
[submodule "ComfyUI-SUPIR"]
	path = custom_nodes/ComfyUI-SUPIR
	url = https://github.com/kijai/ComfyUI-SUPIR.git
[submodule "docs/Obsidian-Dev-Docs"]
	path = docs/Obsidian-Dev-Docs
	url = https://github.com/obsidianmd/obsidian-developer-docs.git
	branch = main
[submodule "docs/Obsidian-API"]
	path = docs/Obsidian-API
	url = https://github.com/obsidianmd/obsidian-api.git
[submodule "custom_nodes/ComfyUI_LinkFX"]
	path = custom_nodes/ComfyUI_LinkFX
	url = https://github.com/SKBv0/ComfyUI_LinkFX.git
[submodule "custom_nodes/ComfyUI-AnimatedLinks"]
	path = custom_nodes/ComfyUI-AnimatedLinks
	url = https://github.com/Bob-Bar-B-Que/ComfyUI-AnimatedLinks.git
[submodule "custom_nodes/rgthree-comfy"]
	path = custom_nodes/rgthree-comfy
	url = https://github.com/rgthree/rgthree-comfy
[submodule "custom_nodes/ComfyUI-VideoHelperSuite"]
	path = custom_nodes/ComfyUI-VideoHelperSuite
	url = https://github.com/Kosinkadink/ComfyUI-VideoHelperSuite
[submodule "custom_nodes/ComfyUI_essentials"]
	path = custom_nodes/ComfyUI_essentials
	url = https://github.com/cubiq/ComfyUI_essentials
[submodule "custom_nodes/comfyui_controlnet_aux"]
	path = custom_nodes/comfyui_controlnet_aux
	url = https://github.com/Fannovel16/comfyui_controlnet_aux
[submodule "custom_nodes/ComfyUI-Crystools"]
	path = custom_nodes/ComfyUI-Crystools
	url = https://github.com/crystian/ComfyUI-Crystools
[submodule "custom_nodes/cg-use-everywhere"]
	path = custom_nodes/cg-use-everywhere
	url = https://github.com/chrisgoringe/cg-use-everywhere
[submodule "custom_nodes/ComfyUI-WanVideoWrapper"]
	path = custom_nodes/ComfyUI-WanVideoWrapper
	url = https://github.com/kijai/ComfyUI-WanVideoWrapper
[submodule "custom_nodes/ComfyUI-Frame-Interpolation"]
	path = custom_nodes/ComfyUI-Frame-Interpolation
	url = https://github.com/Fannovel16/ComfyUI-Frame-Interpolation
[submodule "custom_nodes/ComfyUI-Florence2"]
	path = custom_nodes/ComfyUI-Florence2
	url = https://github.com/kijai/ComfyUI-Florence2
[submodule "custom_nodes/ComfyUI_IPAdapter_plus"]
	path = custom_nodes/ComfyUI_IPAdapter_plus
	url = https://github.com/cubiq/ComfyUI_IPAdapter_plus
[submodule "custom_nodes/ComfyUI-ReActor"]
	path = custom_nodes/ComfyUI-ReActor
	url = https://github.com/Gourieff/ComfyUI-ReActor
[submodule "custom_nodes/ComfyUI-Inspire-Pack"]
	path = custom_nodes/ComfyUI-Inspire-Pack
	url = https://github.com/ltdrdata/ComfyUI-Inspire-Pack
[submodule "custom_nodes/ComfyUI-RMBG"]
	path = custom_nodes/ComfyUI-RMBG
	url = https://github.com/1038lab/ComfyUI-RMBG
[submodule "custom_nodes/ComfyUI-MultiGPU"]
	path = custom_nodes/ComfyUI-MultiGPU
	url = https://github.com/pollockjj/ComfyUI-MultiGPU
[submodule "custom_nodes/ComfyUI-LogicUtils"]
	path = custom_nodes/ComfyUI-LogicUtils
	url = https://github.com/aria1th/ComfyUI-LogicUtils
[submodule "custom_nodes/comfyui-mixlab-nodes"]
	path = custom_nodes/comfyui-mixlab-nodes
	url = https://github.com/shadowcz007/comfyui-mixlab-nodes
[submodule "custom_nodes/ComfyUI-segment-anything-2"]
	path = custom_nodes/ComfyUI-segment-anything-2
	url = https://github.com/kijai/ComfyUI-segment-anything-2
[submodule "custom_nodes/audio-separation-nodes-comfyui"]
	path = custom_nodes/audio-separation-nodes-comfyui
	url = https://github.com/christian-byrne/audio-separation-nodes-comfyui
[submodule "custom_nodes/ComfyUI-DepthAnythingV2"]
	path = custom_nodes/ComfyUI-DepthAnythingV2
	url = https://github.com/kijai/ComfyUI-DepthAnythingV2
[submodule "custom_nodes/Comfyui-QwenEditUtils"]
	path = custom_nodes/Comfyui-QwenEditUtils
	url = https://github.com/lrzjason/Comfyui-QwenEditUtils
[submodule "custom_nodes/ComfyUI-post-processing-nodes"]
	path = custom_nodes/ComfyUI-post-processing-nodes
	url = https://github.com/EllangoK/ComfyUI-post-processing-nodes
[submodule "custom_nodes/ComfyUI-IC-Light"]
	path = custom_nodes/ComfyUI-IC-Light
	url = https://github.com/kijai/ComfyUI-IC-Light
[submodule "custom_nodes/ComfyUI-Custom-Scripts"]
	path = custom_nodes/ComfyUI-Custom-Scripts
	url = https://github.com/pythongosssss/ComfyUI-Custom-Scripts
[submodule "custom_nodes/ComfyUI-Detail-Daemon"]
	path = custom_nodes/ComfyUI-Detail-Daemon
	url = https://github.com/Jonseed/ComfyUI-Detail-Daemon
[submodule "custom_nodes/ComfyUI-Inpaint-CropAndStitch"]
	path = custom_nodes/ComfyUI-Inpaint-CropAndStitch
	url = https://github.com/lquesada/ComfyUI-Inpaint-CropAndStitch
[submodule "custom_nodes/h3-latent-upscaler"]
	path = custom_nodes/h3-latent-upscaler
	url = https://github.com/rockerBOO/h3-latent-upscaler.git
[submodule "custom_nodes/ComfyUI-qwenmultiangle"]
	path = custom_nodes/ComfyUI-qwenmultiangle
	url = https://github.com/jtydhr88/ComfyUI-qwenmultiangle.git
[submodule "custom_nodes/ComfyUI-OrbitSheets"]
	path = custom_nodes/ComfyUI-OrbitSheets
	url = https://github.com/lumosai8/ComfyUI-OrbitSheets.git
