[submodule "ComfyUI"]
	path = ComfyUI
	url = https://github.com/Comfy-Org/ComfyUI.git
	branch = dev
[submodule "ComfyUI-FallingTS"]
	path = ComfyUI-FallingTS
	url = https://github.com/falling-ts/ComfyUI-FallingTS.git
	branch = main
[submodule "ComfyUI-KJNodes"]
	path = ComfyUI-KJNodes
	url = https://github.com/kijai/ComfyUI-KJNodes.git
	branch = main
[submodule "ComfyUI-GGUF"]
	path = ComfyUI-GGUF
	url = https://github.com/city96/ComfyUI-GGUF.git
	branch = main
[submodule "ComfyUI_UltimateSDUpscale"]
	path = ComfyUI_UltimateSDUpscale
	url = https://github.com/ssitu/ComfyUI_UltimateSDUpscale.git
	branch = main
[submodule "ComfyUI-Docs"]
	path = ComfyUI-Docs
	url = https://github.com/Comfy-Org/docs.git
	branch = main
[submodule "ComfyUI-MiniMaxH3-Cache"]
	path = ComfyUI-MiniMaxH3-Cache
	url = https://github.com/lihaoyun6/ComfyUI-MiniMaxH3-Cache.git
	branch = main
[submodule "ComfyUI-NB-H3-HyperStep"]
	path = ComfyUI-NB-H3-HyperStep
	url = https://github.com/biyuhe3442-cmd/ComfyUI-NB-H3-HyperStep.git
	branch = main
[submodule "ComfyUI-ReservedVRAM"]
	path = ComfyUI-ReservedVRAM
	url = https://github.com/Windecay/ComfyUI-ReservedVRAM.git
	branch = main
[submodule "ComfyUI-SolAttn_triton"]
	path = ComfyUI-SolAttn_triton
	url = https://github.com/kijai/ComfyUI-SolAttn_triton.git
	branch = main
[submodule "ComfyUI-Spectrum-MiniMax-H3"]
	path = ComfyUI-Spectrum-MiniMax-H3
	url = https://github.com/xmarre/ComfyUI-Spectrum-MiniMax-H3.git
	branch = main
[submodule "ComfyUI_GJJ_Nodes"]
	path = ComfyUI_GJJ_Nodes
	url = https://github.com/guojijun/ComfyUI_GJJ_Nodes.git
	branch = main
[submodule "minimax-h3-guide"]
	path = minimax-h3-guide
	url = https://github.com/juemin4-source/minimax-h3-guide.git
	branch = main
[submodule "ComfyUI-Qwen3-TTS"]
	path = ComfyUI-Qwen3-TTS
	url = https://github.com/wanaigc/ComfyUI-Qwen3-TTS.git
	branch = main
[submodule "SHUO-Canvas"]
	path = SHUO-Canvas
	url = https://github.com/ashuoAI/SHUO-Canvas.git
	branch = main
[submodule "MiniMax-H3"]
	path = MiniMax-H3
	url = https://github.com/MiniMax-AI/MiniMax-H3.git
	branch = main
